.ant-modal-wrap {
  z-index: 2000 !important;
   min-height: 20rem;
   max-height :50rem;
}
// .ant-modal {
//   width: auto !important;
// }
.ant-modal-content {
  width: 800px;
}
.ant-modal-body .react-pdf__Document {
  .react-pdf__Page__canvas {
    width: 75% !important;
  }
}
.ant-modal-body {
  // height: 300px;.
  // overflow: auto;
  min-height: 10rem;
  max-height: 30rem;
  overflow-y:auto;
  overflow-x: hidden;
  text-align: center;
}
